.background {
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
}
.main {
  text-align: center;
  margin-top: 20px;
}
.logo_image {
  height: 120px;
  padding: 20px;
  margin: 40px;
}
.input_wrap {
  margin: 0px 10px 8px 10px;
  padding: 10px;
  border: solid 1px gray;
  background: white;
}
.input_info {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}
.login_btn_wrap {
  height: 48px;
  margin: 20px 10px 10px 10px;
  border: none;
  background-color: #9f81f7;
  cursor: pointer;
}
.login_btn {
  background-color: #9f81f7;
  border: none;
  color: white;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  line-height: 35px;
}
.sign_up {
  float: right;
  margin-right: 10px;
  color: gray;
}
@media (min-width: 450px) {
  .main {
    width: 400px;
    margin: auto;
  }
}
