.wrap_post{
  width: 700px;
  margin: 65px 200px;
  text-align: left;
}
.comment_container{
  margin-top:5px;
}
.wrap_question, .comment_container  {
  border: solid 1.5px rgb(196, 191, 191);
  border-radius: 5px;
}
.q_icon {
  font-size: 50px;
  margin: 10px;
  color: #9f81f7;
}
.question_title {
  font-size: 30px;
  margin: 10px;
}
.wrap_ans_btn {
  border: solid 1px rgba(224, 224, 224, 0.918);
  background-color: rgba(224, 224, 224, 0.918);
  padding: 5px;
  margin: 5px;
  text-align: right;
}
.ans_btn {
  border: none;
  color: white;
  background-color: #9f81f7;
  width: 100px;
  height: 30px;
  cursor: pointer;
}
.wrap_ans_name {
  border-bottom: solid 1.5px rgb(196, 191, 191);
  margin: 3px;
}
.a_icon {
  font-size: 30px;
  margin: 10px;
  color: #9f81f7;
}
.wrap_answer {
  margin-top: 5px;
  border: solid 1.5px rgb(196, 191, 191);
  border-radius: 5px;
}
.box_sample {
  border: solid 1.5px rgb(196, 191, 191);
}
.comment{
  display: flex;
  align-items: flex-end;
  margin-bottom: 2px;
}

#comment_text{
  margin-right: 5px;
  height: 22px;
  flex-basis : 85%;
}
#comment_btn{
  margin: 5px;
  flex-basis : 15%;
  border: none;
  color: white;
  background-color: #9f81f7;
  width: 100px;
  height: 30px;
  cursor: pointer;
}
/* 불러온 댓글 내용 */
.commentList{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 18px;
  padding: 1px;
  font-size: 0.8em;
  border-bottom: solid 0.1px rgb(196, 191, 191);
}
.commentList p{
  margin: 0 0;
  padding-left: 10px;
}
#commentDate{
  display: flex;
 flex-grow : 2;
 justify-content: flex-end;
}
#comment_hr{
 border: solid 0.1px rgb(196, 191, 191);
}
.commentContainer{
  margin: 0 0;
}
#commentAuthor{
 flex-grow : 1;
}
#commentContent{
  align-self: flex-start;
 flex-grow : 3;

} 
/* 댓글 포맷? */
.commentListFormat{
  display: flex;
  justify-content: space-between;
  height: 18px;
  padding: 1px;
  font-size: 0.9em;
  padding-bottom: 2px;
  margin: 0 0;
  border-bottom: solid 0.4px rgb(196, 191, 191);
}
.commentListFormat span{
  padding-right: 2px;
  padding-left: -10px;
}
#FormatDate{
  display: flex;
  flex-grow : 2;
  margin-left: 100px;
  justify-content: center;
}
 #FormatContent{
  flex-grow: 3;
  justify-self: flex-start;
 } 
#FormatAuthor{
  flex-grow: 1;
  padding-left: 10px;
 }


