.info_container{
    text-align: left;
    position: absolute;
    width:70%;
    height: 100vh;
    top : 60px;
    left : 30%;
    text-align: right;
    border-left : solid rgb(131, 128, 128);
    overflow: hidden;
} 
.info_ul{
    margin-top: 0px;
    margin-bottom: 0;
    padding-left: 0;
    display: grid;
    list-style: none;
    grid-template-columns: 150px 1fr;
    /* border-left : solid rgb(43, 42, 42); */

}

.info_li{
    padding: 20px 20px;
    border-right : 2px solid rgb(131, 128, 128);
    border-bottom : 2px solid rgb(131, 128, 128);
    text-align: left;
}
.messageArea{
    width: fit-content;
}

