<!DOCTYPE html>
<html>
    <body>
        <div>
            <h1>QNASavior 메일 인증입니다</h1>
            <h2>아래의 코드를 입력해 이메일을 인증해주세요</h2>
            <h1><%= authCode %></h1>
        </div>
    </body>
</html>